.gen1 {
	font-family: 'Pokemon Generation 1 Regular';
}
.selected {
	border: 2px solid black;
	border-radius: 25px;
	&::before {
		&.caught {
			content: "> &"
		}
		content: ">"
	}
}
.caught::before {
	content: "&"
}